{% extends "layouts/base.html" %}
{% block title %}Create User{% endblock %}
{% block page_title %}Create User{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-xl-7 mx-auto">
        <div class="page-header">
            <div>
                <h1>Create User</h1>
                <p class="page-subtitle">Add a new account and assign it a role.</p>
            </div>
        </div>
        <div class="card p-4">
            {% include "users/_form.html" %}
        </div>
    </div>
</div>
{% endblock %}
